<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Breed List</title>
</head>
<body>
<h3>Luca Webapp</h3>
<hr>
<!-- Add a button -->
<a th:href="@{/lucawebapp/dog/breed/showFormForAdd}"
   class="btn btn-primary btn-sm mb-3">
    Add Breed
</a>
<a th:href="@{/lucawebapp/dog/breed/populate}"
   class="btn btn-danger btn-sm mb-3"
   onclick="if(!(confirm('Are you sure you want to populate this table?'))) return false">
    Populate
</a>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>Breed Name</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="theBreed : ${breeds}">

        <td th:text="${theBreed.breedName}"/>

        <td>
            <a th:href="@{/lucawebapp/dog/breed/showFormForUpdate(breedId=${theBreed.id})}"
               class="btn btn-primary btn-sm mb-3">
                Update
            </a>
            <a th:href="@{/lucawebapp/dog/breed/delete(breedId=${theBreed.id})}"
               class="btn btn-danger btn-sm mb-3"
               onclick="if(!(confirm('Are you sure you want to delete this breed?'))) return false">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>